body{
	background-color: lime;
}



#article1{
	margin: 20px;
	 display: inline-block;
    text-align: center;
}

nav {
    display: inline-block;
    text-align: center;
}

ul{
	list-style-type: none;
}

li {
	display: inline-block;
    text-align: center;
    margin-right: 10px;
    
}
