

body{
	background-image:url('../grey.jpg');
}
/* links*/

.nav1 {
    display: inline-block;
    text-align: center;
    padding: 0px 70px 15px 70px;
    color: #FFFFFF;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;

}

.ul1{
	color: #FFFFFF;
	list-style-type: none;
	padding:0px 0px 0px 275px;
	margin:20px 100px 25px 120px;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	text-align: center;
}

.li1 {
	color: #FFFFFF;
	display: inline-block;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    margin: 10px 10px 15px 10px;
}

.ayee {
    font-family: 'Amatic SC', cursive;
    padding:3px 4px 13px 4px;
    margin-top:15px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.article1{
	
	display: inline-block;
    text-align: center;
}



/* index links */

#nav {
    display: inline-block;
    padding: 0px 20px 10px 20px;
    color: #FFFFFF;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;

}

#ul{
	color: #FFFFFF;
	list-style-type: none;
	margin:30px 180px 0px 120px;
	font-family: 'Amatic SC', cursive;
	font-size: 40px;
	
}

#li {
	color: #FFFFFF;
	display: inline-block;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    margin: 10px;
}

#aye {
    font-family: 'Amatic SC', cursive;
    padding:10px;
    
    text-decoration: none;
    color: black;
    font-size: 40px;
}

#article{
	font-size: 25px;
	display: inline-block;
    text-align: center;
}


/* header */
#div1{ 
	height:100px;
	margin:20px;
	padding: 10px 20px 10px 20px;
	font-family: 'Economica', sans-serif;
}

#text{
	font-size: 50px;
	text-align: center;
	font-family: 'Economica', sans-serif;
}

#bar{
	background-color:black;
	height:2px;
	width:580px;
	margin-left: 150px; 
	
}

#text2{
	font-size: 30px;
	font-family: 'Satisfy', cursive;
	text-align: center;
}

/* images index*/
#img{
	background-image: url('../towndoe.jpg');
	height: 250px;
	width:225px;
	margin-top:20px;
	background-repeat: no-repeat;
	display: inline-block;
	background-size: 100% 100%;
}

#img2{
	background-image: url('../mdoe.jpg');
	height: 250px;
	width:225px;
	margin-top:20px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
}

#img3{
	background-image: url('../bridgedoe.jpg');
	height: 250px;
	width:225px;
	margin-top:20px;
	background-repeat: no-repeat;
	display: inline-block;
	background-size: 100% 100%;
}

#img4{
	background-image: url('../bdoe.jpg');
	height: 250px;
	width:225px;
	margin-top:20px;
	background-repeat: no-repeat;
	display: inline-block;
	background-size: 100% 100%;
}





/* about me */

/* quote */
#sec1{
	height:50px;
	margin-right:100px;
	margin-left: 100px;
	padding: 10px 20px 10px 20px;
	font-family: 'Economica', sans-serif;
	font-size: 30px;
	text-align: center;
	 border-style: solid;
    border-width: 5px;

}

/* text */
#sec2{
	
	height:150px;
	
	margin: 20px 100px 20px 100px;
	padding: 10px 20px 10px 20px;
	font-family: 'Economica', sans-serif;
	font-size: 30px;
	text-align: center;
	border-style: solid;
    border-width: 5px;
}

#textpls{
	font-size: 20px;
	padding:10px;
	text-align: center;
	font-family: 'Economica', sans-serif;
}

/* contact me */

#linksdoe{
	height:150px;
	margin: 20px 100px 20px 100px;
	padding: 10px 20px 10px 20px;
	font-family: 'Economica', sans-serif;
	font-size: 30px;
	text-align: center;
	border-style: solid;
    border-width: 5px;
}
}


/* contact me links*/
.socialw {
	width: 235px;
	margin: 100px auto 0 auto;
	overflow: auto;
	height: 100%;
}

.social{
  position:relative;
	border: 1px solid #292929;
	width: 37px;
	height: 62px;
	float: left;
	margin-left: 10px;
	overflow: hidden;
}

.first {
	margin-left: 0px;
}

/*    ANIMATIONS   */

/* Fade In Down */
@-webkit-keyframes fadeInDown {
	0% {  opacity: 0;  -webkit-transform: translateY(-100px);  }	
	100% {  opacity: 1;  -webkit-transform: translateY(0);	}
}

@-moz-keyframes fadeInDown {
	0% {  opacity: 0;  -moz-transform: translateY(-100px);	}	
	100% {  opacity: 1;  -moz-transform: translateY(0);  }
}

@-o-keyframes fadeInDown {
	0% {  opacity: 0;  -o-transform: translateY(-100px);	}	
	100% {  opacity: 1;  -o-transform: translateY(0);  }
}

@keyframes fadeInDown {
	0% {  opacity: 0;  transform: translateY(-100px);	}	
	100% {  opacity: 1;  transform: translateY(0);	}
}

.fadeInDown {
	-webkit-animation: fadeInDown 1s both 0.5s;
	-moz-animation: fadeInDown 1s both 0.5s;
	-o-animation: fadeInDown 1s both 0.5s;
	animation: fadeInDown 1s both 0.5s;
}
/* Fade In Down */

/* Social Transition */

.social img{
position:absolute;
left:0;
top:0;
-webkit-transition: margin-top 250ms ease-in;
-moz-transition: margin-top 250ms ease-in;
-o-transition:  margin-top 250ms ease-in;
transition:  margin-top 250ms ease-in;
}
.social:hover img{
margin-top:-62px;
}


/* music */

/*hover image*/
.urlImg {
	width:300px;
	height:300px; 
	background-size: 100% 100%;
	display:inline-block;
	background-image: url('../id.jpg'); 
	margin-left: 200px;
} 
.urlImg:hover {
 	background-image: url('../idd.jpg'); 
} 

.urlImg2 {
	width:300px;
	height:300px; 
	background-size: 100% 100%;
	display:inline-block;
	background-image: url('../rf.jpg'); 
	
} 
.urlImg2:hover {
 	background-image: url('../rff.jpg'); 
} 

.urlImg3 {
	width:300px;
	height:300px; 
	background-size: 100% 100%;
	display:inline-block;
	background-image: url('../att.jpg'); 
	
} 
.urlImg3:hover {
 	background-image: url('../at.jpg'); 
} 

/* mobile responsive*/
html {
	display:block;
}

.container{
	width:960px;
	margin:0px auto;
}

@media screen and (max-width:959px){

.container{
	width:100%;
}

#nav{
	width:100%;
}

#ul{
	width:100%;
}

#div1{
	width:100%;
}

#sec{
	width:100%;
}

}


@media (max-width: 320px){
.container{
	width:100%;

}

body{
	background-color: lime;

}

#nav{
	width:250px;
}


#div1{
	width:250px;

}

/* images index*/ 
#sec{
	width:250px;
}
#img{
	width:250px;
}

#img2{
	width:250px;
}

#img3{
	width:250px;
}

#img4{
	width:250px;
}

/* about me */ 


#sec1{

}

#sec2{

}

};
